<h1> BDAT 1004-02:  Final Project </h1>
<h2> Group 4:</h2>
<p>Abhishek Abhishek | Carolyn Knight | James Murney | Sweta  Bipinkumar Patel</p>

In [1]:
# import Selenium to render website
# import pandas to use DataFrame

from selenium import webdriver
import pandas as pd

In [2]:
# use Chrome Driver to render access to website
driver = webdriver.Chrome('C:\Program Files\chromedriver.exe')

# URL to be accessed by webdriver
driver.get("https://amphibiaweb.org/cgi/amphib_query?rel-common_name=like&rel-family=equals&rel-ordr=equals&rel-intro_isocc=like&rel-description=like&rel-distribution=like&rel-life_history=like&rel-trends_and_threats=like&rel-relation_to_humans=like&rel-comments=like&rel-submittedby=like&max=200&orderbyaw=Genus%2Bspecies&include_synonymies=Yes&show_photos=Yes&rel-scientific_name=contains&where-scientific_name=&rel-genus=equals&where-genus=&rel-species=equals&where-species=&where-common_name=&where-clade=&where-subfamily=&where-family=any&where-ordr=any&rel-isocc=occurs+in&where-isocc=Canada&where-isocc=United+States&rel-species_account=matchboolean&where-species_account=&rel-declinecauses=equals&where-declinecauses=&rel-iucn=begins+with&where-iucn=&rel-cites=equals&where-cites=&where-submittedby=")

In [3]:
# driver inspects page source
html = driver.page_source

# create DataFrame from html
tables = pd.read_html(html)
tables

[                                                     0  \
 0                                          AMPHIBIAWEB
 1    Home What's New  Search any Scientific Name  S...
 2                                                  NaN
 3                                      Scientific Name
 4                                                  NaN
 ..                                                 ...
 402                            Plethodon chlorobryonis
 403                                                NaN
 404                                 Plethodon cinereus
 405                                                NaN
 406                                                NaN

                                                      1      2  \
 0                                          AMPHIBIAWEB    NaN
 1    QUERY: SELECT * FROM amphib WHERE (isocc like ...    NaN
 2                                                  NaN    NaN
 3                                                Photo  Sound
 4                                                  NaN    NaN
 ..                                                 ...    ...
 402                                                NaN    NaN
 403                                                NaN    NaN
 404                                                NaN    NaN
 405                                                NaN    NaN
 406                                                NaN    NaN

                         3                                4               5  \
 0                     NaN                              NaN             NaN
 1                     NaN                              NaN             NaN
 2                     NaN                              NaN             NaN
 3    IUCN Red List Status                  Vernacular Name          Family
 4                     NaN                              NaN             NaN
 ..                    ...                              ...             ...
 402                   NaN  Atlantic Coast Slimy Salamander  Plethodontidae
 403                   NaN                              NaN             NaN
 404    Least Concern (LC)    Eastern Red-backed Salamander  Plethodontidae
 405                   NaN                              NaN             NaN
 406                   NaN                              NaN             NaN

            6
 0        NaN
 1        NaN
 2        NaN
 3      Order
 4        NaN
 ..       ...
 402  Caudata
 403      NaN
 404  Caudata
 405      NaN
 406      NaN

 [407 rows x 7 columns],
              Scientific Name Photo   Sound IUCN Red List Status  \
 0                        NaN   NaN     NaN                  NaN
 1                        NaN   NaN     NaN                  NaN
 2           Acris blanchardi   NaN  sounds                  NaN
 3                        NaN   NaN     NaN                  NaN
 4            Acris crepitans   NaN  sounds   Least Concern (LC)
 ..                       ...   ...     ...                  ...
 396         Plethodon cheoah   NaN     NaN      Vulnerable (VU)
 397                      NaN   NaN     NaN                  NaN
 398  Plethodon chlorobryonis   NaN     NaN                  NaN
 399                      NaN   NaN     NaN                  NaN
 400       Plethodon cinereus   NaN     NaN   Least Concern (LC)

                      Vernacular Name          Family    Order
 0                                NaN             NaN      NaN
 1                                NaN             NaN      NaN
 2           Blanchard's Cricket Frog         Hylidae    Anura
 3                                NaN             NaN      NaN
 4              Northern Cricket Frog         Hylidae    Anura
 ..                               ...             ...      ...
 396           Cheoah Bald Salamander  Plethodontidae  Caudata
 397                              NaN             NaN      NaN
 398  Atlantic Coast Slimy Salamander  Plethodontidae  Caudata
 399                              NaN             NaN      NaN
 400    Eastern Red-backed Salamander  Plethodontidae  Caudata

 [401 rows x 7 columns]]

In [4]:
#close driver
driver.close()

In [5]:
# access second table within HTML
# rename Dataframe to 'Amphibians'
Amphibians = tables[1]
Amphibians

,Scientific Name,Photo,Sound,IUCN Red List Status,Vernacular Name,Family,Order
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Acris blanchardi,NaN,sounds,NaN,Blanchard's Cricket Frog,Hylidae,Anura
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Acris crepitans,NaN,sounds,Least Concern (LC),Northern Cricket Frog,Hylidae,Anura
...,...,...,...,...,...,...,...
396,Plethodon cheoah,NaN,NaN,Vulnerable (VU),Cheoah Bald Salamander,Plethodontidae,Caudata
397,NaN,NaN,NaN,NaN,NaN,NaN,NaN
398,Plethodon chlorobryonis,NaN,NaN,NaN,Atlantic Coast Slimy Salamander,Plethodontidae,Caudata
399,NaN,NaN,NaN,NaN,NaN,NaN,NaN
400,Plethodon cinereus,NaN,NaN,Least Concern (LC),Eastern Red-backed Salamander,Plethodontidae,Caudata

In [6]:
# remove 'Photo', 'Sound' columns from DataFrame
# remove any other entries with null values
Amphibians = tables[1]
Amphibians_Final = Amphibians.drop(['Photo','Sound'], axis=1).dropna()
Amphibians_Final

,Scientific Name,IUCN Red List Status,Vernacular Name,Family,Order
4,Acris crepitans,Least Concern (LC),Northern Cricket Frog,Hylidae,Anura
6,Acris gryllus,Least Concern (LC),Southern Cricket Frog,Hylidae,Anura
8,Ambystoma annulatum,Least Concern (LC),Ringed Salamander,Ambystomatidae,Caudata
10,Ambystoma barbouri,Near Threatened (NT),Streamside Salamander,Ambystomatidae,Caudata
12,Ambystoma bishopi,Vulnerable (VU),Reticulated Flatwoods Salamander,Ambystomatidae,Caudata
...,...,...,...,...,...
388,Plethodon asupak,Vulnerable (VU),Scott Bar Salamander,Plethodontidae,Caudata
390,Plethodon aureolus,Data Deficient (DD),Tellico Salamander,Plethodontidae,Caudata
392,Plethodon caddoensis,Near Threatened (NT),Caddo Mountain Salamander,Plethodontidae,Caudata
396,Plethodon cheoah,Vulnerable (VU),Cheoah Bald Salamander,Plethodontidae,Caudata
400,Plethodon cinereus,Least Concern (LC),Eastern Red-backed Salamander,Plethodontidae,Caudata

In [7]:
# Save DataFrame to csv files
Amphibians_Final.to_csv('AmphibiansData.csv', index = False, encoding = 'utf-8')

In [8]:
# import libraries to connect to MongoDB
from pymongo import MongoClient
import json

# connect to the Database Client
try:
    client = MongoClient('mongodb+srv://carolyn:bdatcarolyn@bigdata.mtnre.mongodb.net/myFirstDatabase?retryWrites=true&w=majority')
    print("Connected succesfully!")
except:
    print("Could not connect to MongoDB.")

Connected succesfully!

In [9]:
# Define the Database and the Collection
db = client['BDAT1004']     # connecting to Database
records = db['Amphibians'] # connect to collection-= 'Amphibians'

In [10]:
# convert DataFrame to dictionary format
Amphibians_Mongo = Amphibians_Final.to_dict('records')

In [11]:
# add data to MongoDb
records.insert_many(Amphibians_Mongo)